body{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("ui.jpg");
    background-size: cover;
}

.signup-container{
    margin-left: 800px;
    margin-top: 300px;
    align-items: center;
    text-align: center;
    background-color: rgb(61, 139, 41);
    max-width: 200px;
}